@charset "UTF-8";

@font-face {
    font-family: 'TypoSlab';
    src: url('fonts/typoslab_irregular/TypoSlab\ Irregular\ Demo.otf') format(opentype);
}

* { /* Seletor universal. Essa configuração faz com que o texto fique grudado ao começo da página*/
    margin: 0px;
    padding: 0px
}

html, body { /*HTML e Body irão receber uma mesma configuração*/
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;

}

header h1 {
    padding-top: 50px;
    font-variant: small-caps; /* Deixa as letras em caixa alta, mas com a altura de uma letra minúscula */
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(32, 32, 32);
    color: white;
}

.imagem p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.254);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}